
@{
    ViewBag.Title = "Show";
}

@{
    Layout = "~/Views/Shared/Dashboard.cshtml";
}
<style>

    .text {
        font-family: raleway;
        font-size: 40px;
        position: absolute center;
        text-align: center;
        padding-left: 0%;
        color: #000;
        margin-top: 43px;
    }

    .text1 {
        font-family: raleway;
        font-size: 21px;
        text-align: center;
        margin-top: -20px;
        color: darkblue;
    }

    .image {
        text-align: center;
        width: 200px;
        /* Container's dimensions */
        height: 200px;
        /*-webkit-border-radius: 75%;
        -moz-border-radius: 75%;*/
        box-shadow: 0 0 0 1px #eee;
        background-size: cover;
        margin: auto;
        margin-top: 20px;
        margin-bottom: -30px;
        align-content: center;
    }



    .trick {
        display: inline-block;
        vertical-align: middle;
        height: 150px;
    }

    .image:hover {
        box-shadow: 0px 5px 20px .9px #3F3F3F;
    }

    .image:hover {
        -webkit-transform: scale(1.12);
        transform: scale(1.12);
        -webkit-transition: 1.6s ease-in-out;
        transition: 1.6s ease-in-out;
    }



    .trick:hover img {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    /*
    #overlay {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        padding: 0 0 0 0;
        opacity: 1.0;
        -webkit-transition: opacity 2.25s ease;
        -moz-transition: opacity 10.25s ease;
    }*/

    #box:hover #overlay {
        opacity: 1;
    }

    .profile_picture {
        width: auto;
        height: 100%;
    }
</style>
</head>
<h2>@TempData["message"]</h2>
<div class="panel-default">
    <div id="overlay">
        <div class="image">
            <div class="trick">
                @if (ViewBag.Picture == false)
                {
                    <img src="~/Content/images/no_profile_picture.png" alt="Profile photo">
                }
                else
                {
                    string fileName = ViewBag.UserId + ".jpeg";
                    <img class="profile_picture" src="~/Content/profilePictures/@fileName" alt="Profile photo" />
                }


            </div>
        </div>
        <ul class="text" style="color:darkblue">@ViewBag.User.FirstName @ViewBag.User.LastName</ul>
        <br />
        @if (ViewBag.Birthday == 1)
        {
            <div class="text1">
                <h3 class="text1">Whish @ViewBag.User.FirstName @ViewBag.User.LastName a happy birthday!!</h3>
            </div>
            <br />
        }
        <div class="text1">
            @if (ViewBag.ProfileDescription != null)
            {
                <h5 style="text-align:center; font-size:20px;color:darkblue"><strong>~@ViewBag.ProfileDescription~</strong></h5>
                <br />
            }
        </div>
        @if (ViewBag.isAdmin > 0)
        {
            <div class="nav-item dropdown">
                <a class="nav-link" href="javascript:;" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="btn btn-info">Afiseaza grupuri</i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    @if (ViewBag.Groups != null)
                    {
                        foreach (var group in ViewBag.Groups)
                        {

                            <a class="dropdown-item" href="/Profiles/InviteToGroup/?userId=@ViewBag.User.Id&groupId=@group.GroupId" title="Click to invite">@group.GroupName</a>
                        }

                        <div class="dropdown-divider"></div>
                    }
                </div>
            </div>
        }
    </div>
</div>