
@{
    ViewBag.Title = "New";
}
@{
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

@Styles.Render("~/template/cssLogin")
<br />
<br />
<div class="row">
    <div class="col-sm-2"></div>
    <div class="panel panel-default col-sm-8" style="text-align: center; width: 70%; margin-left: 15%; display:inline">
        <div class="panel-body" id="nou" style="border-radius:20px 20px 20px 20px">

            <form method="post" action="/Groups/New">

                @Html.Hidden("UserId")

                @Html.Label("GroupName", "Numele grupului")
                <br />
                <div style="align-content:center; padding-left: 240px; width:1000px">
                    @Html.TextBox("GroupName", null, new { @class = "form-control" })
                    <br />
                    @Html.ValidationMessage("GroupName", null, new { @class = "text-danger", @style = "    margin-right: 500px;" })
                </div>
                <br /><br />
                @Html.Label("GroupDescription", "Descriere grup")
                <br />
                <div style="align-content:center; padding-left: 240px; width:1000px">
                    @Html.TextArea("GroupDescription", null, new { @class = "form-control" })

                    @Html.ValidationMessage("GroupDescription", "", new { @class = "text-danger", @style = "    margin-right: 500px;" })
                </div>
                <br />
                <button class=" btn btn-success" type="submit">Adauga grup</button>
            </form>


        </div>
    </div>
    <div class="col-sm-2"></div>
</div>



