@{
    ViewBag.Titlu = "New";
}
@{
    Layout = "~/Views/Shared/Dashboard.cshtml";
}
<br />
<p class="text-info">@ViewBag.Message</p>

<h2>Adaugare task</h2>

@model SpaceOrganizing.Models.Tasks

<form method="post" action="/Taskss/New/@ViewBag.GroupId">
    @Html.Label("Title", "Titlu Task")
    <br />
    @Html.TextBox("Title", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Description", "Descriere Task")
    <br />
    @Html.TextArea("Description", null, new { @class = "form-control" })
    <br />
    <br />

    @Html.Label("Deadline", "Termen Limita")
    <br />
    <input class="text-box single-line input100" data-val="true" data-val-date="The field Date of Birth must be a date." id="Deadline" name="Deadline" type="date" value="">
    <br />
    @Html.ValidationMessageFor(m => m.Deadline, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Priority", "Prioritate")
    @Html.DropDownListFor(m => m.Priority, new SelectList(Model.PriorityLabel, "Value", "Text"), new { @class = "form-control" })
    <br />
    <br />

    @Html.Label("UserId2", "Asignat")
    @Html.DropDownListFor(m => m.UserId2, new SelectList(Model.UsersList, "Value", "Text"), "Selectati utilizator", new { @class = "form-control" })
    <br />
    <br />

    @Html.Hidden("GroupId")
    <button class="btn btn-sm btn-success" type="submit">Adauga task</button>

</form>